@use "sass:color";

.navbar-toggler {
    background: var(--bs-btn-bg);
    > i {
        color: var(--bs-btn-color);
    }
}
.navbar-toggler:focus {
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.language-menu {
    max-height: 200px;
    overflow-y: scroll;
}