<nav class="navbar navbar-expand-lg bg-body-tertiary py-3 shadow-sm fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="#home"><span class="fw-bolder d-flex gap-2 align-items-center"><i class="bi bi-pc-display-horizontal"></i> {{languageService.getText(languageService.translationData?.header?.ptrcs)}}</span></a>
    <button #navbarToggler class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i></button>
    <div class="collapse navbar-collapse gap-1 column-gap-4 justify-content-end" id="navbarSupportedContent" #navbarContent>
      <ul class="navbar-nav mb-2 mb-lg-0 fw-bolder d-flex flex-column flex-sm-row flex-lg-row column-gap-4 justify-content-lg-center">
        <li class="nav-item"><a class="nav-link text-nowrap" href="#home"><i class="bi bi-house-door me-1"></i> {{languageService.getText(languageService.translationData?.header?.menuHome)}}</a></li>
        <li *ngIf="languageService.translationData?.resume" class="nav-item text-nowrap"><a class="nav-link" href="#resumeInfo"><i class="bi bi-file-earmark-text me-1"></i> {{languageService.getText(languageService.translationData?.header?.menuResume)}}</a></li>
        <li class="nav-item"><a class="nav-link text-nowrap" href="#contactInfo"><i class="bi bi-envelope me-1"></i> {{languageService.getText(languageService.translationData?.header?.menuContact)}}</a></li>
      </ul>
      <div class="d-flex gap-2 flex-wrap flex-sm-nowrap">
        <button class="btn btn-primary text-nowrap flex-grow-1" type="button" aria-label="Toggle theme" (click)="toggleTheme()">
          <span *ngIf="themeService.theme === 'light'" class="d-flex gap-2"><i class="bi bi-sun"></i> {{languageService.getText(languageService.translationData?.header?.themeLight)}}</span>
          <span *ngIf="themeService.theme === 'dark'" class="d-flex gap-2"><i class="bi bi-moon"></i> {{languageService.getText(languageService.translationData?.header?.themeDark)}}</span>
      </button>
      <div class="dropdown d-flex flex-grow-1">
        <button class="btn btn-primary dropdown-toggle d-flex gap-2 align-items-center justify-content-between flex-grow-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="d-flex gap-2">
            <span class="fi" [ngClass]="currentFlagClass"></span>
            {{languageService.getText(languageService.translationData?.header?.language)}}
          </div>
        </button>
        <ul class="dropdown-menu language-menu">
          <li *ngFor="let language of languageService.translationData?.languages">
            <button class="dropdown-item d-flex align-items-center gap-2" (click)="languageService.setLanguage(language)">
              <span class="fi" [ngClass]="languageService.getFlagClass(language)"></span> {{languageService.getText(language)}}
            </button>
          </li>
        </ul>
      </div>
      <a href="https://github.com/ptr-cs/portfolio" target="_blank" class="btn btn-dark d-block d-flex flex-nowrap align-items-center gap-2 flex-grow-1"><i class="bi bi-github"></i> {{languageService.getText(languageService.translationData?.header?.gitHub)}}</a>
    </div>
    </div>
  </div>
</nav>