<div #canvasContainer class="canvas-container">
  <app-scene-settings *ngIf="performanceService.activeScene === 'LAVA_WALL'" fullScreenTargetQuerySelector="lava-lamp-wall" tabindex="0"></app-scene-settings>
 <ngt-canvas #canvas [sceneGraph]="sceneGraph" [frameloop]="frameloop()" [shadows]="false" [gl]="{
    antialias: true,
    powerPreference: 'high-performance',
    stencil: false,
    alpha: false,
    depth: false,
    precision: 'lowp'
  }"
  [dpr]="[1, 1.5]" >
    
 </ngt-canvas>
</div>