<div id="wrapper" class="container my-5 px-5">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid p-0">
                <div class="text-center mb-5 d-flex flex-row flex-wrap gap-4 align-items-center justify-content-center">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(languageService.translationData?.gems?.gemsData)}}</span></h1>
                    <button *ngIf="performanceService.activeScene === 'GEMS'" type="button" class="btn btn-primary d-flex flex-row flex-nowrap gap-1 align-items-center" (click)="toggleData()" [matTooltip]="!performanceService.activeScenePaused ? languageService.getText(languageService.translationData?.gems?.pauseData) : languageService.getText(languageService.translationData?.gems?.resumeData)"
                        matTooltipClass="bg-body border rounded shadow-sm" #tooltipRotateScene="matTooltip">
                        <i *ngIf="!performanceService.activeScenePaused" class="bi bi-pause fs-4 fw-bold"></i>
                        <i *ngIf="performanceService.activeScenePaused" class="bi bi-play fs-4 fw-bold"></i>
                        <span *ngIf="!performanceService.activeScenePaused">{{languageService.getText(languageService.translationData?.gems?.data)}}</span>
                        <span *ngIf="performanceService.activeScenePaused">{{languageService.getText(languageService.translationData?.gems?.data)}}</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow py-2 border-left-primary border-0" [attr.data-bs-theme]="themeService.theme">
                            <div class="card-body">
                                <div class="row g-0 align-items-center">
                                    <div class="col me-2">
                                        <div class="mb-1 fw-bold text-xs d-flex gap-2 align-items-center"><h6 class="fw-bold mb-0">{{languageService.getText(languageService.translationData?.gems?.totalValue)}}</h6> <button type="button"
                                            class="btn btn-secondary rounded-circle btn-sm tooltip-button p-0 d-flex align-items-center justify-content-center"
                                            [matTooltip]="languageService.getText(languageService.translationData?.gems?.totalValueTooltip)"
                                            matTooltipClass="bg-body border rounded shadow-sm" #tooltipTotalValue="matTooltip"
                                            (click)="tooltipTotalValue.show()" [attr.data-bs-theme]="themeService.theme">
                                            <i class="bi bi-info-lg fs-6 fw-bold lh-1"></i>
                                        </button></div>
                                        <div class="mb-0 fw-bold fs-5"><span class="jetBrainsMono">{{ totalValueString() }}</span></div>
                                        
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow py-2 border-left-success border-0" [attr.data-bs-theme]="themeService.theme">
                            <div class="card-body">
                                <div class="row g-0 align-items-center">
                                    <div class="col me-2">
                                        <div class=" mb-1 fw-bold text-xs d-flex gap-2 align-items-center"><h6 class="fw-bold mb-0">{{languageService.getText(languageService.translationData?.gems?.averageValue)}}</h6> <button type="button"
                                            class="btn btn-secondary rounded-circle btn-sm tooltip-button p-0 d-flex align-items-center justify-content-center"
                                            [matTooltip]="languageService.getText(languageService.translationData?.gems?.averageValueTooltip)"
                                            matTooltipClass="bg-body border rounded shadow-sm" #toolTipAverageValue="matTooltip"
                                            (click)="toolTipAverageValue.show()" [attr.data-bs-theme]="themeService.theme">
                                            <i class="bi bi-info-lg fs-6 fw-bold lh-1"></i>
                                        </button></div>
                                        <div class="mb-0 fw-bold fs-5"><span class="jetBrainsMono">{{ averageValueString() }}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow py-2 border-left-info border-0" [attr.data-bs-theme]="themeService.theme">
                            <div class="card-body">
                                <div class="row g-0 align-items-center">
                                    <div class="col me-2">
                                        <div class=" mb-1 fw-bold text-xs d-flex gap-2 align-items-center"><h6 class="fw-bold mb-0">{{languageService.getText(languageService.translationData?.gems?.averageSize)}}</h6> <button type="button"
                                            class="btn btn-secondary rounded-circle btn-sm tooltip-button p-0 d-flex align-items-center justify-content-center"
                                            [matTooltip]="languageService.getText(languageService.translationData?.gems?.averageSizeTooltip)"
                                            matTooltipClass="bg-body border rounded shadow-sm" #toolTipAverageSize="matTooltip"
                                            (click)="toolTipAverageSize.show()" [attr.data-bs-theme]="themeService.theme">
                                            <i class="bi bi-info-lg fs-6 fw-bold lh-1"></i>
                                        </button>
                                        </div>
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <div class="me-3 mb-0 fw-bold fs-5"><span class="jetBrainsMono">{{ averageScaleString() }}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow py-2 border-left-warning border-0" [attr.data-bs-theme]="themeService.theme">
                            <div class="card-body">
                                <div class="row g-0 align-items-center">
                                    <div class="col me-2">
                                        <div class=" mb-1 fw-bold text-xs d-flex gap-2 align-items-center"><h6 class="fw-bold mb-0">{{languageService.getText(languageService.translationData?.gems?.averageRoughness)}}</h6> <button type="button"
                                            class="btn btn-secondary rounded-circle btn-sm tooltip-button p-0 d-flex align-items-center justify-content-center"
                                            [matTooltip]="languageService.getText(languageService.translationData?.gems?.averageRoughnessTooltip)"
                                            matTooltipClass="bg-body border rounded shadow-sm" #toolTipAverageRoughness="matTooltip"
                                            (click)="toolTipAverageRoughness.show()" [attr.data-bs-theme]="themeService.theme">
                                            <i class="bi bi-info-lg fs-6 fw-bold lh-1"></i>
                                        </button></div>
                                        <div class="mb-0 fw-bold fs-5"><span class="jetBrainsMono">{{ averageRoughnessString() }}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow mb-4" [attr.data-bs-theme]="themeService.theme">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class=" m-0 fw-bold">{{languageService.getText(languageService.translationData?.gems?.distribution)}}</h6><button type="button"
                                        class="btn btn-secondary rounded-circle btn-sm tooltip-button p-0 d-flex align-items-center justify-content-center"
                                        [matTooltip]="languageService.getText(languageService.translationData?.gems?.distributionTooltip)"
                                        matTooltipClass="bg-body border rounded shadow-sm" #tooltipDistribution="matTooltip"
                                        (click)="tooltipDistribution.show()" [attr.data-bs-theme]="themeService.theme">
                                        <i class="bi bi-info-lg fs-6 fw-bold lh-1"></i>
                                    </button>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas #doughnutChart></canvas></div>
                                <div class="text-center mt-4 small d-flex gap-2 align-items-center flex-wrap">
                                    <div class="d-inline-flex align-items-center flex-row gap-2">
                                        <i class="bi bi-gem diamond p-1 rounded-circle" [attr.data-bs-theme]="theme"></i>
                                        {{languageService.getText(languageService.translationData?.gems?.diamond)}}
                                    </div>
                                    <div class="d-inline-flex align-items-center flex-row gap-2">
                                        <i class="bi bi-gem sapphire p-1 rounded-circle" [attr.data-bs-theme]="theme"></i>
                                        {{languageService.getText(languageService.translationData?.gems?.sapphire)}}
                                    </div>
                                    <div class="d-inline-flex align-items-center flex-row gap-2">
                                        <i class="bi bi-gem ruby p-1 rounded-circle" [attr.data-bs-theme]="theme"></i>
                                        {{languageService.getText(languageService.translationData?.gems?.ruby)}}
                                    </div>
                                    <div class="d-inline-flex align-items-center flex-row gap-2">
                                        <i class="bi bi-gem emerald p-1 rounded-circle" [attr.data-bs-theme]="theme"></i>
                                        {{languageService.getText(languageService.translationData?.gems?.emerald)}}
                                    </div>
                                    <div class="d-inline-flex align-items-center flex-row gap-2">
                                        <i class="bi bi-gem topaz p-1 rounded-circle" [attr.data-bs-theme]="theme"></i>
                                        {{languageService.getText(languageService.translationData?.gems?.topaz)}}
                                    </div>
                                    <div class="d-inline-flex align-items-center flex-row gap-2">
                                        <i class="bi bi-gem amethyst p-1 rounded-circle" [attr.data-bs-theme]="theme"></i>
                                        {{languageService.getText(languageService.translationData?.gems?.amethyst)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow mb-4" [attr.data-bs-theme]="themeService.theme">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class=" m-0 fw-bold">{{languageService.getText(languageService.translationData?.gems?.totalValueHistory)}}</h6><button type="button"
                                        class="btn btn-secondary rounded-circle btn-sm tooltip-button p-0 d-flex align-items-center justify-content-center"
                                        [matTooltip]="languageService.getText(languageService.translationData?.gems?.totalValueHistoryTooltip)"
                                        matTooltipClass="bg-body border rounded shadow-sm" #tooltipTotalValueHistory="matTooltip"
                                        (click)="tooltipTotalValueHistory.show()" [attr.data-bs-theme]="themeService.theme">
                                        <i class="bi bi-info-lg fs-6 fw-bold lh-1"></i>
                                    </button>
                            </div>
                            <div class="card-body">
                                <div class="chart-area"><canvas #totalValueHistoryChart id="totalValueHistoryChart"></canvas></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4" [attr.data-bs-theme]="themeService.theme">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h6 class="m-0 fw-bold">{{languageService.getText(languageService.translationData?.gems?.mostRecentGems)}}</h6><button type="button"
                                        class="btn btn-secondary rounded-circle btn-sm tooltip-button p-0 d-flex align-items-center justify-content-center"
                                        [matTooltip]="languageService.getText(languageService.translationData?.gems?.mostRecentGemsTooltip)"
                                        matTooltipClass="bg-body border rounded shadow-sm" #tooltipMostRecentGems="matTooltip"
                                        (click)="tooltipMostRecentGems.show()" [attr.data-bs-theme]="themeService.theme">
                                        <i class="bi bi-info-lg fs-6 fw-bold lh-1"></i>
                                    </button>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let item of mostRecentItems; trackBy: trackById" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col">
                                                <p class="mb-0 fw-bolder fs-6"><span class="me-2"><strong class="gems-list-label d-inline-block">{{languageService.translateGemEntry(item.type)}}</strong> :</span> <span class="gems-list-value d-inline-block">{{ item.value | currency:'USD':'symbol':'1.2-2':languageService.language }}</span></p><span class="text-xs text-muted">{{ languageService.getFormattedDate(item.timestamp) }}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>