<section class="py-5">
    <div class="container px-5">
        <div class="rounded-4 py-5 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                        class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder" [ngClass]="{'fs-3' : languageService.language === 'no' || languageService.language === 'de'}">{{languageService.getText(languageService.translationData?.contact?.contactInfo)}}</h1>
                <p class="lead fw-normal text-muted mb-0">{{languageService.getText(languageService.translationData?.contact?.contactInfoSubtext)}}</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <a class="text-gradient w-auto text-center fs-2 fw-bold link-underline text-break" href="mailto:parkertrowland@gmail.com" [attr.data-bs-theme]="themeService.theme">
                    parkertrowland &#64;gmail.com
                </a>
            </div>
        </div>
    </div>
</section>