<div class="container p-5">
    <div class="rounded-4 py-5 px-md-5">
        <div class="text-center mb-5 d-flex flex-column align-items-center">
            <div class="feature bg-primary bg-body bg-gradient text-white rounded-3 mb-3 p-2 d-flex align-items-center justify-content-center">
                <i class="bi text-body bi-envelope d-flex align-items-center justify-content-center"></i>
            </div>
            <h1 class="fw-bolder" [ngClass]="{'fs-3' : languageService.language === 'no' || languageService.language === 'de'}">{{languageService.getText(languageService.translationData?.contact?.contactInfo)}}</h1>
            <p class="lead fw-normal text-muted mb-0">{{languageService.getText(languageService.translationData?.contact?.contactInfoSubtext)}}</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <a class="text-gradient w-auto text-center fs-1 fw-bold link-underline text-break px-0" href="mailto:parker@ptr-cs.com" [attr.data-bs-theme]="themeService.theme">
                parker&#64;ptr-cs.com
            </a>
        </div>
    </div>
</div>