.canvas-container:fullscreen,
.canvas-container:-webkit-full-screen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.canvas-container:fullscreen canvas,
.canvas-container:-webkit-full-screen canvas {
  width: 100%;
  height: 100%;
  display: block;
}


.ui-button, .exit-button {
    height: 46px;
}

.color-button {
    min-width: 48px;
}

.show-picker {
  display: block !important;
}

.lamp-controls-interface {
  background-color: rgba(var(--bs-tertiary-bg-rgb), .8);
  backdrop-filter: blur(6px);
  border-top-right-radius: 0 !important;
}

.border-top-left-radius-0 {
  border-top-left-radius: 0 !important;
}

.color-button-bar {
  height: 25%;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, .33) !important;
}

.color-button-bar.lamp-red {
  background: rgba(255, 0, 0, .5)
}
.color-button-bar.lamp-yellow {
  background: rgba(255, 213, 0, 0.5)
}
.color-button-bar.lamp-blue {
  background: rgba(0, 0, 255, .5)
}
.color-button-bar.lamp-green {
  background: rgba(0, 255, 0, .5)
}
.color-button-bar.lamp-custom {
  background: var(--lamp-lava-custom-color);
}

.fs-only {
  display: none;
  z-index: 1;
}

:fullscreen .fs-only { display: flex !important;}
:-webkit-full-screen .fs-only { display: flex !important;}

:fullscreen .non-fs-only { display: none !important; }
:-webkit-full-screen .non-fs-only { display: none !important; }

.exit-button {
  color: var(--bs-btn-color);
}

.settings-label {
  max-width: 130px;
  min-width: 130px;
}

.settings-label-long {
  max-width: 170px;
  min-width: 170px;
}

.autofade.collapsed { transition: opacity .3s ease; }
.autofade.collapsed.is-hidden { opacity: 0; pointer-events: none; }

.btn-group {
  position: relative;
  border-radius: var(--bs-border-radius, .375rem);
  transition: box-shadow .15s ease-in-out;
}
  
  .text-white-force {
    color: white !important;
  }
  
  .color-controls-container {
    width: 180px;
  }
  
  .custom-color-control {
    min-width: 46px;
  }
  
  .controls-group {
    min-width: 200px;
  }
  
  .btn-primary {
    min-height: 48px;
    min-width: 48px;
  }