@use 'sass:color';

@use "../../node_modules/flag-icons/sass/flag-icons" with (
  $flag-icons-path: "/assets/flag-icons/flags",

  $flag-icons-included-countries: ("us", "jp", "de", "it", "no", "se", "dk", "fr", "es")
);

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../public/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Michroma';
  src: url('../../public/assets/fonts/Michroma/Michroma-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.michroma {
  font-family: 'Michroma';
}

.jetBrainsMono {
  font-family: 'JetBrains Mono';
}

body,
html {
  height: 100%;
}

.rounded-4 {
  border-radius: 1rem !important;
}

:root {
  --bs-font-sans-serif: "Plus Jakarta Sans";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --lamp-lava-custom-color: rgba(128, 0, 255, 0.5);
  --header-height-offset: 72px;
}

:root[data-bs-theme="dark"] {
  --bs-body-bg: #111111; 
  --bs-tertiary-bg-rgb: 20, 20, 20;
}

:root[data-bs-theme="light"] {
  --bs-body-bg: #eeeeee;
}

nav {
  background-color: var(--bs-body-bg);
}

:fullscreen,
:-webkit-full-screen,
:-moz-full-screen {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bg-gradient-primary-to-secondary {
  background: #1e30f3;
  background: linear-gradient(135deg, #1e30f3 0%, #007CAD 100%);
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #007CAD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-primary-to-secondary[data-bs-theme="dark"] {
  background: rgb(0, 59, 115);
  background: linear-gradient(135deg, rgb(0, 36, 115) 0%, #004740 100%);
}

.text-gradient[data-bs-theme="dark"] {
  background: -webkit-linear-gradient(315deg, rgb(0, 132, 255) 0%, #00a1ad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-check + .btn:hover {
  background-color: var(--bs-btn-hover-bg);
}

.card[data-bs-theme="dark"] {
  background: #222;
}

.text-primary {
  color: #0a52bd !important;
}
.text-primary[data-bs-theme="dark"] {
    color: color.adjust(#0d6efd, $lightness: 10%) !important;
}

.btn-secondary[data-bs-theme=dark] {
  background: #333;

}
.btn-secondary[data-bs-theme=dark]:hover {
    background: #222;
}

.tooltip-button {
  width: 24px;
  height: 24px;
}