<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(languageService.translationData?.resume?.resume)}}</span></h1>
    </div>
    <div class="row gx-5 justify-content-center" *ngIf="languageService.translationData?.resume">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
        <section>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="text-primary fw-bolder mb-0" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(languageService.translationData?.resume?.experienceHeader)}}</h2>
            </div>
            <div class="card shadow border-0 rounded-4 mb-5" [attr.data-bs-theme]="themeService.theme" *ngFor="let job of languageService.translationData?.resume?.experience">
                    <div class="card-body p-3 p-sm-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-lg-0">
                                <div class="p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(job.duration)}}</div>
                                    <div class="fw-bolder mb-2">{{languageService.getText(job.role)}}</div>
                                    <div class="small text-muted mb-2">{{languageService.getText(job.organization)}}</div>
                                    <div class="small text-muted">{{languageService.getText(job.location)}}</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{languageService.getText(job.description)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section>
            <h2 class="text-primary fw-bolder mb-4" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(languageService.translationData?.resume?.publicationsHeader)}}</h2>
            <div class="card shadow border-0 rounded-4 mb-5" [attr.data-bs-theme]="themeService.theme" *ngFor="let publication of languageService.translationData?.resume?.publications">
                <div class="card-body p-3 p-sm-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start">
                            <div class="p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(publication.publicationDate)}}</div>
                                <div class="mb-2">
                                    <div class="fw-bolder mb-2">{{languageService.getText(publication.organization)}}</div>
                                    <div class="small text-muted">{{languageService.getText(publication.location)}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div>{{languageService.getText(publication.description)}} (link: <a href="{{languageService.getText(publication.link)}}" title="{{languageService.getText(publication.description)}}" target="_blank">{{languageService.getText(publication.link)}}</a>)</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
                <h2 class="text-primary fw-bolder mb-4" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(languageService.translationData?.resume?.educationHeader)}}</h2>
                <div class="card shadow border-0 rounded-4 mb-5" [attr.data-bs-theme]="themeService.theme" *ngFor="let school of languageService.translationData?.resume?.education">
                    <div class="card-body p-3 p-sm-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start">
                                <div class="p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2" [attr.data-bs-theme]="themeService.theme">{{languageService.getText(school.duration)}}</div>
                                    <div class="mb-2">
                                        <div class="fw-bolder mb-2">{{languageService.getText(school.degree)}}</div>
                                        <div class="small fw-bolder mb-1">{{languageService.getText(school.institution)}}</div>
                                        <div class="small text-muted">{{languageService.getText(school.location)}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <p class="mb-2">{{languageService.getText(languageService.translationData?.resume?.highlightsHeader)}}:</p>
                                    <ul>
                                        <li *ngFor="let highlight of school?.highlights">{{languageService.getText(highlight)}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0" [attr.data-bs-theme]="themeService.theme">Experience</h2>
                </div>
                <div class="card shadow border-0 rounded-4 mb-5" [attr.data-bs-theme]="themeService.theme" *ngFor="let item of resumeData.experience">
                    <div class="card-body p-3 p-sm-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-lg-0">
                                <div class="p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2" [attr.data-bs-theme]="themeService.theme">{{item.duration}}</div>
                                    <div class="fw-bolder mb-2">{{item.role}}</div>
                                    <div class="small text-muted">{{item.organization}}</div>
                                    <div class="small text-muted">{{item.location}}</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{item.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="text-primary fw-bolder mb-4" [attr.data-bs-theme]="themeService.theme">Publications</h2>
                <div class="card shadow border-0 rounded-4 mb-5" [attr.data-bs-theme]="themeService.theme" *ngFor="let item of resumeData.publications">
                    <div class="card-body p-3 p-sm-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start">
                                <div class="p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2" [attr.data-bs-theme]="themeService.theme">{{item.publicationDate}}</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">{{item.organization}}</div>
                                        <div class="small text-muted">{{item.location}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{item.description}} (link: <a href="{{item.link}}" title="{{item.description}}" target="_blank">{{item.link}}</a>)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="text-primary fw-bolder mb-4" [attr.data-bs-theme]="themeService.theme">Education</h2>
                <div class="card shadow border-0 rounded-4 mb-5" [attr.data-bs-theme]="themeService.theme" *ngFor="let item of resumeData.education">
                    <div class="card-body p-3 p-sm-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start">
                                <div class="p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2" [attr.data-bs-theme]="themeService.theme">{{item.duration}}</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">{{item.institution}}</div>
                                        <div class="small text-muted">{{item.location}}</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">{{item.degree}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <p class="mb-2">Highlights:</p>
                                    <ul>
                                        <li *ngFor="let subitem of item.description">{{subitem}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pb-5"></div>
            <section>
                <div class="card shadow border-0 rounded-4 mb-5" [attr.data-bs-theme]="themeService.theme">
                    <div class="card-body p-3 py-5 p-sm-5">
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-tools"></i>
                                </div>
                                <h3 class="fw-bolder mb-0">
                                    <span class="text-gradient d-inline" [attr.data-bs-theme]="themeService.theme">Professional Skills</span>
                                </h3>
                            </div>
                            <ul>
                                <li class="mb-2" *ngFor="let item of resumeData.skills">{{item}}</li>
                            </ul>
                        </div>
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline" [attr.data-bs-theme]="themeService.theme">Languages & Frameworks</span></h3>
                            </div>
                            <ul>
                                <li class="mb-2" *ngFor="let item of resumeData.languages">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>
    </div>
</div>